/*body {
  background-color: blue;
}*/
#container {
  width: 980px;
  height: 550px;
  margin: auto;
  border: 1px solid black;
  padding: 20px;
}


#canvas {
  border: 1px solid black;
  height: 500px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: row;*/
  justify-content: space-between;
  align-content: space-between;
}

.pixel {
  border: 1px solid black;
  max-height: 240px;
  width: 20px;
  height: 20px;
  background-color: white;
  /*flex: auto;*/
  /*flex: 1 1 auto;*/
}
.colors {
  border: 1px solid black;
  max-height: 240px;
  width: 20px;
  height: 20px;
  margin: 5px;
}
#palette {
  margin: auto;
  height: 50px;
  width: 100%;
  border: 1px solid black;
}
#currentColor {
  border-left: 1px solid black;
  height: 100%;
  width: 15%;
  float: right;
}
